<h1>Editar Receita</h1>

<%= flash[:error] %>

<%= form_for @recipe do |f| %>
<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
<div>
  <%= f.label :recipe_type_id %>
  <%= f.collection_select :recipe_type_id, @recipe_types, :id, :name %>
</div>
<div>
  <%= f.label :cuisine_id %>
  <%= f.collection_select :cuisine_id, @cuisines, :id, :name  %>
</div>
<div>
  <%= f.label :difficulty %>
  <%= f.text_field :difficulty %>
</div>
<div>
  <%= f.label :cook_time %>
  <%= f.text_field :cook_time %>
</div>
<div>
  <%= f.label :ingredients%>
  <%= f.text_area :ingredients %>
</div>
<div>
  <%= f.label :method %>
  <%= f.text_area :method %>
</div>
<div class="field">
  <%= f.label :image %><br/>
  <%= f.file_field :image %>
</div>
<%= f.submit 'Enviar' %>
<br> <%= link_to 'Voltar', root_path %> </br>
<% end %>
