<h1>Editar Tipo de Receita</h1>

<%= flash[:error] %>

<%= form_for(@recipe_type) do |f| %>

<div>
	<%= f.label :name %>
	<%= f.text_field :name %>
</div>

<%= f.submit 'Enviar' %>

<br> <%= link_to 'Voltar', root_path %> </br>
<% end %>